{% extends "base.html" %}


{% load static %}
{% block page_content %}
<h1>Коментарий</h1>
<div class="row">
    {% for project in projects %}
    <div class="col-md-4">
        <div class="card md-2">

            <div class="card-body">
                <h5 class="card-title">{{ project.author }}</h5>
                <p class="card-text">{{ project.body }}</p>

                <a href="{% url 'projects:azs' %}"
                   class="btn btn-primary">
                    Подробнее
                </a>
            </div>
        </div>
    </div>

</div>
{% endfor %}

{% endblock %}
