{% extends "base.html" %}



{% block page_content %}
<h1>Коментарий</h1>
<div class="row">
    {% for comment in comments %}
    <div class="col-md-4">
        <div class="card md-2">

            <div class="card-body">
                <h5 class="card-title">{{ comment.author }}</h5>
                <p class="card-text">{{ comment.body }}</p>

                <a href="{% url 'coments:blog_detail' project.pk%}"
                   class="btn btn-primary">
                    Подробнее
                </a>
            </div>
        </div>
    </div>

</div>
    {% endfor %}

{% endblock %}
